html{
  scroll-behavior: smooth;
}

*{
  margin: 0px;
  padding: 0px;
}
body{
  min-height: 100vh;
  background-color: #08AEEA;
  background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%);
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 25px;
}
nav{
  background-color: #08aeea28;
}
nav ul{
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li{
  height: 50px;
}
nav a{
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  border-radius: 25px;
  position: relative;
  transition: 1s all;
}
nav a:hover{
  transition:  1s all;
  background-color: #08AEEA;
}
nav li:first-child{
  margin-right: auto;

}
.sidebar{
  position: fixed;
  top: 0; 
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index:100 ;
}
.sidebar li{
  width: 100%;
}
.sidebar a{
  width: 100%;
}
.menu-button{
  display: none;
}
@media(max-width: 800px){
  .hideOnMobile{
    display: none;
  }
  .hideonphone{
    display: none;
  }
  .showOnphone{
    display: flex;
  }
  .menu-button{
    display: block;
  }
}
@media(max-width: 400px){
  .sidebar{
    width: 100%;
  }
}
.upper-lower{
  z-index: 10000;
  display: flex;
  flex-direction: column;
  right: 30px;
  top: 70%;
  position: fixed;
}
.upper-lower a{
  border-radius: 50px;
  padding: 10px;
  background-color: rgba(240, 248, 255, 0.384);
  backdrop-filter: blur(20px);
  margin: 10px;
}


.glassCon{
  margin: auto;
  margin-top: 20px;
  padding:0px 50px 30px 50px;
  background-color: rgba(255, 255, 255, 0.274);
  border-radius: 50px;
  overflow: hidden;
  max-width: 720px;
  min-width: 100px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  backdrop-filter: blur(10px);
  border-top:1px solid rgba(255, 255, 255, 0.9) ;
  border-left:1px solid rgba(255, 255, 255, 0.7) ;
  box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.089);
}
h1{
  margin: 30px;
  padding: auto;
  text-decoration: underline red;
  line-height: 50px;
}
h2{
  margin: 30px;
  padding: auto;
  text-decoration: underline blue;
}
.glassCon img{
  object-fit: ;
  margin: 0%;
  padding: 0%; 
}
.link li{
  padding: 20px;
  margin: 30px;
}
.links a{
  text-align: center;
  text-decoration: none;
  color: red;
}
.links a:hover{
  text-decoration: underline;
  transition: 1s all;
  border-radius: 20px;
}
h3{
  color: rgba(62, 62, 206, 0.918);
  text-decoration: dashed;
}
h4{
  color: rgb(255, 94, 0);
}